In [ ]:
#H04T04
#autodata monitasoiseksi frameksi

In [1]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    
    #yhdistetään a- ja b-datat...
    dfa1 = pd.read_csv(url_a1, sep=';')
    dfa2 = pd.read_csv(url_a2, sep=';')
    dfa = pd.concat([dfa1,dfa2])
    dfb1 = pd.read_csv(url_b1, sep=';')
    dfb2 = pd.read_csv(url_b2, sep=';')
    dfb = pd.concat([dfb1,dfb2])
    
    #...ja tehdään yksi df jonka kanssa jatketaan
    df = pd.merge(dfa,dfb, on='ID')
    df = df[['Mh','Ft','ec (cm3)']]
    
    #uudelleennimetään polttoaineet
    d = {'DIESEL': 'Diesel', 'PETROL': 'Petrol'}
    df.replace({'Ft': d}, inplace=True)
    
    #tehdään ristiintaulukointi
    dfc = df.groupby(['Mh','Ft'])['ec (cm3)'].mean()
    dfp = pd.DataFrame(dfc)
    
    #yksi desimaali
    pd.options.display.float_format = '{:.1f}'.format
    
    #unstack ja valitaan kaksitasoisella indeksillä
    tulos = dfp.unstack(level='Ft')
    tulos = tulos[[('ec (cm3)',   'Diesel'), ('ec (cm3)',   'Petrol')]]
    
    #loppumuotoilu
    tulos.fillna('no value', inplace=True)
    tulos = tulos.head(10)
    
    return tulos

In [2]:
url_a1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"

print(autot(url_a1, url_a2, url_b1, url_b2))

                     ec (cm3)
Ft                     Diesel    Petrol
Mh
AA-IVA                 1995.0    3596.0
AUTOMOBILES CITROEN    1560.0    1131.0
FORD WERKE GMBH        1615.1    1291.5
KIA                  no value    1580.0
NISSAN                 1559.4    1247.5
SKODA                  1799.5    1190.6
TESLA                no value  no value