In [ ]:
#H04T03
#autodatan ristiintaulukointi

In [195]:
def autot(url_a1, url_a2, url_b1, url_b2):
    import pandas as pd
    import numpy as np
    
    #yhdistetään a- ja b-datat...
    dfa1 = pd.read_csv(url_a1, sep=';')
    dfa2 = pd.read_csv(url_a2, sep=';')
    dfa = pd.concat([dfa1,dfa2])
    dfb1 = pd.read_csv(url_b1, sep=';')
    dfb2 = pd.read_csv(url_b2, sep=';')
    dfb = pd.concat([dfb1,dfb2])
    
    #...ja tehdään yksi df jonka kanssa jatketaan
    df = pd.merge(dfa,dfb, on='ID')
    df = df[['Mh','Ft','Enedc (g/km)']]
    
    #uudelleennimetään polttoaineet
    d = {'DIESEL': 'Diesel', 'PETROL': 'Petrol'}
    df.replace({'Ft': d}, inplace=True)
    
    #crosstabilla tehdään ristiintaulukointi
    dfc = pd.crosstab(df['Mh'], df['Ft'], values=df['Enedc (g/km)'], aggfunc=np.mean)
    
    #yhden desimaalin tarkkuudella
    pd.options.display.float_format = '{:.1f}'.format
    
    #dropataan ylimääräiset sarakkeet
    dfc.drop('Electric', axis=1, inplace=True)
    dfc.drop('NG', axis=1, inplace=True)
    
    #siistitään tulostus
    tulos = dfc.head(5)
    
    return tulos

In [196]:
url_a1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA1.csv"
url_a2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotA2.csv"
url_b1="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB1.csv"
url_b2="https://student.labranet.jamk.fi/~huoptu/datananal_s20/kerta4/harjoitukset/autotB2.csv"

print(autot(url_a1, url_a2, url_b1, url_b2))

Ft                   Diesel  Petrol
Mh
AA-IVA                129.0   194.7
AUTOMOBILES CITROEN   102.7   105.6
FORD WERKE GMBH       112.9   133.7
KIA                     NaN    88.0
NISSAN                112.3   127.7